extends layout

block content

  ul.messages
    each msg in messages
      li
        .message #{msg.text}
        .message-info 
          span.byline -- #{msg.user} 
          span.timestamp | #{msg.added.toDateString()}
