@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;700&display=swap');

:root {
  --dark: #0c0218;
  --deep: #1c0050;
  --bright: #9800ff;
  --cool: #3d4499;
  --text: #c7d8ff;
  --warm: #fffded;
  --warning: #ff2a44;
}

html {
  color: var(--text);
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Asap', sans-serif;
}

body {
  background-color: var(--dark);
  color: var(--text);
  margin: 0;
  padding: 0;
}

body > * {
  margin: .2rem 1rem;
}

header,
.messages li,
form {
  padding-top: .5rem;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 10%;
}

form {
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-size: 48px;
  text-shadow: 3px 0 0 var(--bright);
  color: var(--text);
  margin: 0;
}

h2 { font-size: 36px; }
h3 { font-size: 33px; }
h4 { font-size: 28px; }
h5 { font-size: 24px; }
h6 { font-size: 22px; }


a {
  box-sizing: content-box;
  border: 3px solid var(--bright);
  color: var(--text);
  text-decoration: none;
  padding: .3rem 1rem;
  border-radius:10px;
  transition: all .4s;
}

a:hover {
  border-color: var(--cool);
  background-color: var(--deep);
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.messages {
  font-size: 1.2rem;
  border-top: 10px solid var(--deep);
  border-bottom: 10px solid var(--deep);
}

.messages li{
  border-bottom: 2px dashed var(--deep);
}

.messages li:last-child{
  border-bottom: none;
}

.message{
  margin-bottom: 1rem;
}

.message-info {
  font-size: .8rem;
  background-color: none;
}

input,
textarea {
  background-color: var(--deep);
  color: var(--warm);
  font: 1.8rem 'Asap', sans-serif;
  padding: .4rem .6rem;
  margin: .6rem 0;
}
